body {
  margin: 0px;
  background-color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#heading {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #ccc;
}

a {
  color: #4c4949;
}

.top {
  position: absolute;
  margin-top: 10px;
  margin-left: 50px;
  z-index: 1000;
  width: 15%;
}

.bottom {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  padding-left: 30px;
  padding-right: 30px;
  bottom: 10px;
  width: 100%;
  z-index: 10000;
}

.scale {
  position: absolute;
  padding-left: 130px;
  padding-right: 30px;
  bottom: -10px;
  width: 100%;
  z-index: 10000;
}

td {
  color: #fff;
}

.bottom > .bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.bar > div {
  margin-left: 20px;
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #333;
}

.leaflet-canvas-layer {
  opacity: 0.55;
}

.leaflet-canvas-layer {
  opacity: 0.55;
}

.leaflet-control-layers-overlays > label {
  font-size: 16px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 10px;
  text-shadow: 0 0 4px black;
}

.leaflet-control-layers-overlays > label > div {
  margin-left: 5px;
}

.leaflet-control-layers-base > label > div {
  margin-left: 5px;
}

.leaflet-control-layers-overlays > label > :hover {
  background-color: #4c4949;
  border-radius: 19.2px;
  width: 100%;
  transition: opacity 0.2s linear;
}

.leaflet-control-layers-base > label {
  font-size: 16px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  margin-right: 10px;
}

.leaflet-control-layers-base > label > :hover {
  background-color: #4c4949;
  border-radius: 19.2px;
  width: 100%;
  transition: opacity 0.2s linear;
}

.leaflet-control-layers.leaflet-control-layers-expanded.leaflet-control {
  border-radius: 19.2px;
  box-shadow: 0 0 2px gray;
}

.leaflet-control-layers-selector {
  height: 25px;
  width: 25px;
  background-color: #eee;
  visibility: hidden;
}

.leaflet-control-layers-separator {
  margin: 5px;
}

.play-button {
  color: #9d0300;
  border-radius: 9999px;
  background-color: #e5e5e5;
  border: 0px;
  box-shadow: 0 0 4px 0 black;
}

.search-button {
  background-color: #fff;
  border-color: #e5e5e5;
  color: #a7a7a7;
  height: 30px !important;
}

.form-control {
  border-radius: 15px;
  box-shadow: 0 0 4px 0 black;
  width: 170px !important;
  height: 30px !important;
}

.form-control-expanded {
  border-radius: 15px;
  box-shadow: 0 0 4px 0 black;
  width: 250px !important;
  height: 33px !important;
}

.form-control:focus {
  border-color: #e5e5e5 !important;
}

.form-control::placeholder {
  color: #555;
}

.play {
  font-size: 30px;
}

.options > :hover {
  color: #9d0300;
  background-color: #e5e5e5;
}

.scale {
  text-shadow: 0 0 4px black;
  position: absolute;
  bottom: 0px;
  height: 30px;
}

.date-item {
  padding: 4px !important;
}
