.top {
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  bottom: 20px;
  width: 100%;
  flex-wrap: nowrap;
  z-index: 10000;
}

.top > .bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.bar > div {
  margin-left: 20px;
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
}
